body {
    background-image: url("http://dzasv7x7a867v.cloudfront.net/product_photos/35099871/THE_20LIFE_20EDIT_20-_20CLOSET_20AND_20WARDROBE_20-_20BLACK_202_original.jpg");
}


.my-container {
    position: relative;
    overflow: hidden;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
} 

p {
    font-family: verdana;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 20%;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

img {
  display: block;
  margin: auto; 
}

.show {display:block;}

.sidenav {
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    #background-color: #ffffff;
    padding-top: 32px;
    float: left;
    background-color: white;
    opacity: 0.9;
    font-weight: bold;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    display: block;
}

.sidenav {
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    #background-color: #ffffff;
    padding-top: 32px;
    float: left;
    background-color: white;
    opacity: 0.9;
    font-weight: bold;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    display: block;
}

.sidenav a:hover, .offcanvas a:focus{
    background-color: #b3cbf2
}


.main{
  height: 100%;
  margin-left: 180px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
  background-color: white;
  #background-color:
}

.box{
  height:400px;
  width:400px;
  border: 1px solid black;
  text-align:center;
  float: left;
}




p a{
  text-decoration: none;
  color: black
}

.bg{
  background-color: white;
  opacity: 0.9;
  font-weight: bold;
}

.main #date {
  text-decoration: underline;
}

.input{
  position:relative;
  left:20px;
  font-size: 30px;
  padding-left:50px;
}

.table{
  font-size: 40px;
}

.header{
  width:95%;
  font-size: 35px;
  border:none;
  text-align:center;
  padding-bottom:20px;
  padding-top:10px;
}

.box1{
  height:400px;
  width:45%;
  border: 1px solid black;
  text-align:center;
  float: left;
  font-size:20px;
}

.box2{
  height:400px;
  width:45%;
  border: 1px solid black;
  text-align:center;
  float: left;
}

.calc_btn
{
        width:60%;
        height:100%;
        font-size:30px;
  border-radius: 11px;
  background-color:#D3D3D3;
  box-shadow: 2px 2px 2px #888888;
}

.purchased{
  width:65%;
  font-size: 20px;
  border:none;
  text-align:center;  
  padding-left:13px;
}
.purchase{
  width:95%;
  font-size: 20px;
  border:none;
  text-align:center;  
  padding-left:30px;
  padding-bottom:16px;
}

td #whites{
  white-space:pre;
}

.summary{
  height:150px;
  width:92%;
  border: 1px solid black;
  text-align:center;
  float:left;
  padding-right:1px;
  
}

.box3{
  padding-left:70px;
}

.summ{
  width:400px;
  border:none;
  text-align:right;
  font-size:26px;
  padding-top:10px;
  
}

.sums{
  color:green;
  width:400px;
  border:none;
  text-align:right;
  font-size:26px;
  padding-top:10px;
}

h1 a{
  text-decoration: none;
  color: white;
}
